<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAPWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SOAPWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44324/SOAPWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SOAPWebServiceSoap"
                contract="SOAPServiceReference.SOAPWebServiceSoap" name="SOAPWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>